@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  max-width: 1400px;
  background: linear-gradient(rgba(128, 255, 219, 0.2) 50%, #fff 50%);
  margin: auto;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./assets/dots_horizontal.png"),
    url("./assets/dots_verticle.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, 170px;
  background-position: 8%, 82%;
}

@media (max-width: 640px) {
  .App {
    background-image: url("./assets/dots_horizontal.png");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50% 80%;
  }
  body {
    /* background: linear-gradient(
      to bottom right,
      rgba(128, 255, 219, 0.2) 95%,
      #fff 20%
    ); */
    /* background: linear-gradient(to bottom right, transparent 0%, white 50.25%), */
    background: linear-gradient(90deg, rgba(128, 255, 219, 0.2)) white;
    /* background-repeat: no-repeat; */
  }
}
